#!/usr/bin/env bash
addgroup fileservs

adduser --disabled-password --ingroup fileservs --gecos "" --quiet doug
usermod -G sudo doug

echo "%sudo ALL=(ALL) NOPASSWD: ALL" | sudo EDITOR="tee -a" visudo

sed -i 's/^#\?\(Port\s*\).*$/\1 22/' /etc/ssh/sshd_config
sed -i 's/^#\?\(PermitRootLogin\s*\).*$/\1 no/' /etc/ssh/sshd_config
sed -i 's/^#\?\(PasswordAuthentication\s*\).*$/\1 no/' /etc/ssh/sshd_config
echo "fs.inotify.max_user_watches=524288" >> /etc/sysctl.conf
sysctl -p


systemctl reload sshd

apt-key adv --keyserver keyserver.ubuntu.com --recv-keys F6F88286 \
    && echo 'deb     http://ppa.launchpad.net/hvr/ghc/ubuntu xenial main' >> /etc/apt/sources.list.d/haskell.list \
    && echo 'deb-src http://ppa.launchpad.net/hvr/ghc/ubuntu xenial main' >> /etc/apt/sources.list.d/haskell.list \

cat << EOF | apt-key add -
{{> llvm-snapshot-gpg-key }}
EOF

cat << EOF >> /etc/apt/sources.list.d/llvm.list
# 3.9
deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main
deb-src http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main
# 4.0
deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-4.0 main
deb-src http://apt.llvm.org/trusty/ llvm-toolchain-trusty-4.0 main
EOF


cat << EOF >> /etc/apt/sources.list.d/trusty.list
deb http://archive.ubuntu.com/ubuntu/ trusty universe
deb-src http://archive.ubuntu.com/ubuntu/ trusty universe
EOF

UPGRADE_ATTEMPT_COUNT=100
UPGRADE_STATE=1
for i in `seq 1 $UPGRADE_ATTEMPT_COUNT`;
do
    if [ "$UPGRADE_STATE" -eq "1" ]; then
        apt update -y
        if [ "`echo $?`" -eq "0" ]; then
            echo "package list updated."
            UPGRADE_STATE=2;
        fi
    fi

    if [ "$UPGRADE_STATE" -eq "2" ]; then
        apt upgrade -y
        if [ "`echo $?`" -eq "0" ]; then
            echo "packages updated."
            UPGRADE_STATE=3;
        fi
    fi

    if [ "$UPGRADE_STATE" -eq "3" ]; then
        break
    fi

    sleep 1
done

if [ "$UPGRADE_STATE" -ne "3" ]; then
    echo "ERROR: packages failed to update after $UPGRADE_ATTEMPT_COUNT attempts."
fi

apt-get install -y \
  libtinfo5 \
  autoconf automake libtool make libgmp-dev ncurses-dev g++ python bzip2 ca-certificates \
  llvm \
  llvm-3.7 llvm-3.8 llvm-3.9 \
  xz-utils \
  alex \
  cabal-install-1.24 \
  happy \
  xutils-dev linux-tools-generic \
  xsltproc docbook-xsl \
  python-sphinx \
  python3 \
  time \
  ocaml \
  haskell-stack \
  libz-dev \
  ghc-8.0.2 \
  ghc-8.2.1 ghc-8.2.1-prof \
  cabal-install-2.0

echo "packages installed"
pushd /root
git clone https://github.com/bcpierce00/unison
pushd unison
git checkout 2.48.4
make
cp src/unison /usr/bin
cp src/unison-fsmonitor /usr/bin
popd
popd
chmod a+x /usr/bin/unison*

mv /root/.ssh /home/doug/.ssh
cat > /home/doug/init << EOF
#!/usr/bin/env bash
mkdir ~/ghc-dev
mkdir -p ~/.local/bin
echo 'export PATH=~/.local/bin:/opt/ghc/8.2.1/bin:/opt/cabal/bin:$PATH' >> ~/.profile
cabal update
stack upgrade
EOF
chmod +x /home/doug/init

chown -hR doug /home/doug
sudo -u doug -H bash -c "~/init"

echo "doug installed"

apt autoremove -y
apt autoclean -y

cp /tmp/firstboot.* /root
