root = {{topdir}}
root = ssh://{{compservip}}//home/doug/ghc-dev
rootalias = //{{compservip}}//home/doug/ghc-dev -> //compserv/fs

sshargs = -oStrictHostKeyChecking=no -oBatchMode=yes
prefer = {{topdir}}
preferpartial= BelowPath out -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name dist-newstyle -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name .stack-work -> ssh://{{compservip}}//home/doug/ghc-dev

repeat = watch
batch = true
perms = 0o1111
terse = true
ignore = Name .git
ignore = BelowPath private
ignore = BelowPath scripts
# don't create these on fileserv, edited from .gitignore, the same, but for syncing .mk files

nocreationpartial = Name *.stackdump -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.stackdump -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.stackdump

nocreationpartial = Name *.hi -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.hi -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.hi
nocreationpartial = Name *.hi-boot -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.hi-boot -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.hi-boot
nocreationpartial = Name *.o-boot -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.o-boot -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.o-boot
nocreationpartial = Name *.p_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.p_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.p_o
nocreationpartial = Name *.t_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.t_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.t_o
nocreationpartial = Name *.debug_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.debug_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.debug_o
nocreationpartial = Name *.thr_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.thr_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.thr_o
nocreationpartial = Name *.thr_p_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.thr_p_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.thr_p_o
nocreationpartial = Name *.thr_debug_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.thr_debug_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.thr_debug_o
nocreationpartial = Name *.o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.o
nocreationpartial = Name *.a -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.a -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.a
nocreationpartial = Name *.o.cmd -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.o.cmd -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.o.cmd
nocreationpartial = Name *.depend* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.depend* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.depend*
nocreationpartial = Name *.dyn_o -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.dyn_o -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.dyn_o
nocreationpartial = Name *.dyn_hi -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.dyn_hi -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.dyn_hi
nocreationpartial = Name __pycache__ -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name __pycache__ -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name __pycache__
nocreationpartial = Name *.SYMDEF* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.SYMDEF* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.SYMDEF*

nocreationpartial = Name log -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name log -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name log
nocreationpartial = Name tag -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name tag -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name tag

nocreationpartial = Name autom4te.cache -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name autom4te.cache -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name autom4te.cache
nocreationpartial = Name config.log -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name config.log -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name config.log
nocreationpartial = Name config.status -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name config.status -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name config.status
nocreationpartial = Name configure -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name configure -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name configure

# Temporarily generated configure files
nocreationpartial = Name confdefs.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name confdefs.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name confdefs.h
# Hadrian files
nocreationpartial = Name stage0 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name stage0 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name stage0
nocreationpartial = Name stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name stage1
nocreationpartial = Name stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name stageName
nocreationpartial = BelowPath */_build -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */_build -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */_build
nocreationpartial = BelowPath */hadrian -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */hadrian -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */hadrian
nocreationpartial = BelowPath */*-darcs-backup* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */*-darcs-backup* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */*-darcs-backup*
nocreationpartial = BelowPath */_darcs -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */_darcs -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */_darcs
nocreationpartial = BelowPath */ghc-tarballs -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc-tarballs -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc-tarballs
nocreationpartial = BelowPath */driver/ghc/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/ghc/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/ghc/dist
nocreationpartial = BelowPath */driver/haddock/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/haddock/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/haddock/dist
nocreationpartial = BelowPath */driver/ghci/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/ghci/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/ghci/dist
nocreationpartial = BelowPath */driver/split/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/split/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/split/dist
nocreationpartial = BelowPath */includes/dist-* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */includes/dist-* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */includes/dist-*
nocreationpartial = BelowPath */libffi/dist-install -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/dist-install -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/dist-install
nocreationpartial = BelowPath */libraries/*/dist-boot -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/*/dist-boot -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/*/dist-boot
nocreationpartial = BelowPath */libraries/*/dist-install -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/*/dist-install -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/*/dist-install
nocreationpartial = BelowPath */libraries/dist-haddock -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/dist-haddock -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/dist-haddock
nocreationpartial = BelowPath */rts/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */rts/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */rts/dist
nocreationpartial = BelowPath */utils/*/dist* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */utils/*/dist* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */utils/*/dist*
nocreationpartial = BelowPath */compiler/stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/stage1
nocreationpartial = BelowPath */compiler/stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/stage2
nocreationpartial = BelowPath */compiler/stage3 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/stage3 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/stage3
nocreationpartial = BelowPath */ghc/stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc/stage1 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc/stage1
nocreationpartial = BelowPath */ghc/stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc/stage2 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc/stage2
nocreationpartial = BelowPath */ghc/stage3 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc/stage3 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc/stage3
nocreationpartial = BelowPath */iserv/stage2* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */iserv/stage2* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */iserv/stage2*
nocreationpartial = BelowPath */iserv/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */iserv/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */iserv/dist

# -----------------------------------------------------------------------------
# specific generated files

nocreationpartial = BelowPath */bindist-list -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */bindist-list -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */bindist-list
nocreationpartial = BelowPath */bindistprep -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */bindistprep -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */bindistprep
nocreationpartial = BelowPath */bindisttest/HelloWorld -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */bindisttest/HelloWorld -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */bindisttest/HelloWorld
nocreationpartial = BelowPath */ch01.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ch01.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ch01.html
nocreationpartial = BelowPath */ch02.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ch02.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ch02.html
nocreationpartial = BelowPath */compiler/dist -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/dist -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/dist
nocreationpartial = BelowPath */compiler/ghc.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/ghc.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/ghc.cabal
nocreationpartial = BelowPath */compiler/ghc.cabal.old -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */compiler/ghc.cabal.old -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */compiler/ghc.cabal.old
nocreationpartial = BelowPath */distrib/configure.ac -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */distrib/configure.ac -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */distrib/configure.ac
nocreationpartial = BelowPath */distrib/ghc.iss -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */distrib/ghc.iss -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */distrib/ghc.iss
nocreationpartial = BelowPath */nodocs/man -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */nodocs/man -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */nodocs/man
nocreationpartial = BelowPath */docs/index.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/index.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/index.html
nocreationpartial = BelowPath */docs/users_guide/users_guide -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/users_guide -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/users_guide
nocreationpartial = BelowPath */docs/users_guide/ghc.1 -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/ghc.1 -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/ghc.1
nocreationpartial = BelowPath */docs/users_guide/*.gen.rst -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/*.gen.rst -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/*.gen.rst
nocreationpartial = BelowPath */docs/users_guide/ghc_config.py -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/ghc_config.py -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/ghc_config.py
nocreationpartial = BelowPath */docs/users_guide/ghc_config.pyc -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/ghc_config.pyc -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/ghc_config.pyc
nocreationpartial = BelowPath */docs/users_guide/users_guide.pdf -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/users_guide.pdf -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/users_guide.pdf
nocreationpartial = BelowPath */docs/users_guide/build-html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/build-html -> ssh://{{compservip}}//home/doug/ghc-dev
nocreationpartial = BelowPath */docs/users_guide/build-pdf -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/build-pdf -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/build-pdf
nocreationpartial = BelowPath */docs/users_guide/build-man -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/build-man -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/build-man
nocreationpartial = BelowPath */docs/users_guide/.doctrees-* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/.doctrees-* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/.doctrees-*
nocreationpartial = BelowPath */docs/users_guide/.doctrees -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */docs/users_guide/.doctrees -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */docs/users_guide/.doctrees
nocreationpartial = BelowPath */driver/ghci/ghc-pkg-inplace -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/ghci/ghc-pkg-inplace -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/ghci/ghc-pkg-inplace
nocreationpartial = BelowPath */driver/ghci/ghci-inplace -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/ghci/ghci-inplace -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/ghci/ghci-inplace
nocreationpartial = BelowPath */driver/ghci/ghci.res -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/ghci/ghci.res -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/ghci/ghci.res
nocreationpartial = BelowPath */driver/package.conf -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/package.conf -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/package.conf
nocreationpartial = BelowPath */driver/package.conf.inplace.old -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */driver/package.conf.inplace.old -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */driver/package.conf.inplace.old
nocreationpartial = BelowPath */settings -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */settings -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */settings
nocreationpartial = BelowPath */ghc.spec -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc.spec -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc.spec
nocreationpartial = BelowPath */ghc/ghc-bin.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */ghc/ghc-bin.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */ghc/ghc-bin.cabal
nocreationpartial = BelowPath */includes/ghcautoconf.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */includes/ghcautoconf.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */includes/ghcautoconf.h
nocreationpartial = BelowPath */includes/ghcplatform.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */includes/ghcplatform.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */includes/ghcplatform.h
nocreationpartial = BelowPath */includes/ghcversion.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */includes/ghcversion.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */includes/ghcversion.h
nocreationpartial = BelowPath */index.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */index.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */index.html
ignore = BelowPath */inplace -> ssh://{{compservip}}//home/doug/ghc-dev
nocreationpartial = BelowPath */libffi/build -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/build -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/build
nocreationpartial = BelowPath */libffi/ffi.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/ffi.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/ffi.h
nocreationpartial = BelowPath */libffi/package.conf.inplace -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/package.conf.inplace -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/package.conf.inplace
nocreationpartial = BelowPath */libffi/package.conf.inplace.raw -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/package.conf.inplace.raw -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/package.conf.inplace.raw
nocreationpartial = BelowPath */libffi/stamp* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/stamp* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/stamp*
nocreationpartial = BelowPath */libffi/package.conf.install -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/package.conf.install -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/package.conf.install
nocreationpartial = BelowPath */libffi/package.conf.install.raw -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libffi/package.conf.install.raw -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libffi/package.conf.install.raw
nocreationpartial = BelowPath */libraries/bootstrapping.conf -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/bootstrapping.conf -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/bootstrapping.conf
nocreationpartial = BelowPath */libraries/prologue.txt -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/prologue.txt -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/prologue.txt
nocreationpartial = BelowPath */libraries/doc-index*.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/doc-index*.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/doc-index*.html
nocreationpartial = BelowPath */libraries/frames.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/frames.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/frames.html
nocreationpartial = BelowPath */libraries/ghc-boot/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot/GNUmakefile
nocreationpartial = BelowPath */libraries/ghc-boot/ghc-boot.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot/ghc-boot.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot/ghc-boot.cabal
nocreationpartial = BelowPath */libraries/ghc-boot/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot/ghc.mk
nocreationpartial = BelowPath */libraries/ghc-boot-th/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot-th/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot-th/GNUmakefile
nocreationpartial = BelowPath */libraries/ghc-boot-th/ghc-boot-th.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot-th/ghc-boot-th.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot-th/ghc-boot-th.cabal
nocreationpartial = BelowPath */libraries/ghc-boot-th/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghc-boot-th/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghc-boot-th/ghc.mk
nocreationpartial = BelowPath */libraries/ghci/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghci/GNUmakefile -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghci/GNUmakefile
nocreationpartial = BelowPath */libraries/ghci/ghci.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghci/ghci.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghci/ghci.cabal
nocreationpartial = BelowPath */libraries/ghci/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ghci/ghc.mk -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ghci/ghc.mk
nocreationpartial = BelowPath */libraries/haddock-util.js -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/haddock-util.js -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/haddock-util.js
nocreationpartial = BelowPath */libraries/hslogo-16.png -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/hslogo-16.png -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/hslogo-16.png
nocreationpartial = BelowPath */libraries/index-frames.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/index-frames.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/index-frames.html
nocreationpartial = BelowPath */libraries/index.html -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/index.html -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/index.html
nocreationpartial = BelowPath */libraries/minus.gif -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/minus.gif -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/minus.gif
nocreationpartial = BelowPath */libraries/ocean.css -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/ocean.css -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/ocean.css
nocreationpartial = BelowPath */libraries/plus.gif -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/plus.gif -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/plus.gif
nocreationpartial = BelowPath */libraries/synopsis.png -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/synopsis.png -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/synopsis.png
nocreationpartial = BelowPath */libraries/stamp -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */libraries/stamp -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */libraries/stamp
nocreationpartial = BelowPath */linter.log -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */linter.log -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */linter.log
nocreationpartial = BelowPath */mk/are-validating.mk -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */mk/are-validating.mk -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */mk/are-validating.mk
nocreationpartial = BelowPath */mk/config.h -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */mk/config.h -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */mk/config.h
nocreationpartial = BelowPath */mk/config.h.in -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */mk/config.h.in -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */mk/config.h.in
nocreationpartial = BelowPath */rts/package.conf.inplace -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */rts/package.conf.inplace -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */rts/package.conf.inplace
nocreationpartial = BelowPath */rts/package.conf.inplace.raw -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */rts/package.conf.inplace.raw -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */rts/package.conf.inplace.raw
nocreationpartial = BelowPath */rts/package.conf.install -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */rts/package.conf.install -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */rts/package.conf.install
nocreationpartial = BelowPath */rts/package.conf.install.raw -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */rts/package.conf.install.raw -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */rts/package.conf.install.raw
nocreationpartial = BelowPath */stage3.package.conf -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */stage3.package.conf -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */stage3.package.conf
nocreationpartial = BelowPath */testsuite_summary*.txt -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */testsuite_summary*.txt -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */testsuite_summary*.txt
nocreationpartial = BelowPath */testlog* -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */testlog* -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */testlog*
nocreationpartial = BelowPath */utils/mkUserGuidePart/mkUserGuidePart.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */utils/mkUserGuidePart/mkUserGuidePart.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */utils/mkUserGuidePart/mkUserGuidePart.cabal
nocreationpartial = BelowPath */utils/runghc/runghc.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */utils/runghc/runghc.cabal -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */utils/runghc/runghc.cabal

nocreationpartial = BelowPath */extra-gcc-opts -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */extra-gcc-opts -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */extra-gcc-opts
nocreationpartial = BelowPath */sdistprep -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = BelowPath */sdistprep -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = BelowPath */sdistprep

nocreationpartial = Name *.run -> ssh://{{compservip}}//home/doug/ghc-dev
preferpartial = Name *.run -> ssh://{{compservip}}//home/doug/ghc-dev
ignore = Name *.run
